<section
  class="flex flex-col pt-4 pb-1 mx-auto w-full rounded-xl shadow-lg bg-zinc-800 max-md:mt-8"
>
  <div class="flex gap-5 mx-4 max-md:mx-2.5">
    <div class="flex flex-col">
      <div class="flex gap-1.5 pr-6 text-lg leading-5 text-white max-md:pr-5">
        <h1>Live events</h1>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/03d33f5e085de84bf476e51151b07d34befeaf1958781d95f3733cba5418bafe?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
          alt="Live events icon"
          class="shrink-0 w-6 aspect-square"
        />
      </div>
      <p class="mt-2 text-sm leading-5 text-gray-400">
        Current statistics for the events
      </p>
      <div class="flex gap-5 self-start mt-8 ml-3 max-md:ml-2.5">
        <div class="flex flex-col flex-1">
          <div
            class="flex flex-col justify-center items-center self-center px-2 rounded-full bg-blue-400 bg-opacity-10 h-[49px] w-[49px]"
          >
            <div
              class="flex flex-col justify-center items-center px-3 w-full rounded-full bg-blue-400 bg-opacity-30 h-[33px]"
            >
              <div
                class="shrink-0 bg-blue-400 rounded-full h-[11px] w-[11px]"
              ></div>
            </div>
          </div>
          <div class="flex gap-2.5 py-1.5 mt-3 whitespace-nowrap">
            <span class="text-2xl tracking-tight text-white">13</span>
            <div
              class="flex gap-0.5 justify-center px-1 py-1 text-xs tracking-normal leading-4 text-center text-green-400 rounded bg-neutral-700"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d8f2038a0d1ffd51f6fbf3a3201ad37b8b7e4eba3304534849f43cf77856a0de?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
                alt="Increase icon"
                class="shrink-0 self-start w-3 aspect-square"
              />
              <span>15.2%</span>
            </div>
          </div>
          <p class="mt-1 text-xs tracking-normal leading-4 text-gray-400">
            Total Info
          </p>
        </div>
        <div class="flex flex-col flex-1">
          <div
            class="flex flex-col justify-center items-center self-center px-2 rounded-full bg-orange-400 bg-opacity-10 h-[49px] w-[49px]"
          >
            <div
              class="flex flex-col justify-center items-center px-3 w-full rounded-full bg-orange-400 bg-opacity-30 h-[33px]"
            >
              <div
                class="shrink-0 bg-orange-400 rounded-full h-[11px] w-[11px]"
              ></div>
            </div>
          </div>
          <div class="flex gap-3 py-1.5 mt-3 whitespace-nowrap">
            <span class="self-start text-2xl tracking-tight text-white">5</span>
            <div
              class="flex gap-0.5 justify-center px-1 py-1 text-xs tracking-normal leading-4 text-center text-green-400 rounded bg-neutral-700"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d8f2038a0d1ffd51f6fbf3a3201ad37b8b7e4eba3304534849f43cf77856a0de?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
                alt="Increase icon"
                class="shrink-0 self-start w-3 aspect-square"
              />
              <span>15.2%</span>
            </div>
          </div>
          <p class="mt-1 text-xs tracking-normal leading-4 text-gray-400">
            Total Alerts
          </p>
        </div>
        <div class="flex flex-col flex-1">
          <div
            class="flex flex-col justify-center items-center px-2 rounded-full bg-orange-700 bg-opacity-10 h-[49px] w-[49px] max-md:mt-10"
          >
            <div
              class="flex flex-col justify-center items-center px-3 w-full rounded-full bg-orange-700 bg-opacity-30 h-[33px]"
            >
              <div
                class="shrink-0 bg-orange-700 rounded-full h-[11px] w-[11px]"
              ></div>
            </div>
          </div>
          <div class="flex gap-4 py-1.5 pr-3 mt-3 whitespace-nowrap">
            <span class="self-start text-2xl tracking-tight text-white">1</span>
            <div
              class="flex gap-0.5 justify-center px-1 py-1 text-xs tracking-normal leading-4 text-center text-green-400 rounded bg-neutral-700"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d8f2038a0d1ffd51f6fbf3a3201ad37b8b7e4eba3304534849f43cf77856a0de?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
                alt="Increase icon"
                class="shrink-0 self-center w-3 aspect-square"
              />
              <span class="self-center">15.2%</span>
            </div>
          </div>

          <p class="mt-1 text-xs tracking-normal leading-4 text-gray-400">
            Total Alarms
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/19552903dd9456d374f25a7b25e71baa96f868b6d8d44b143b5b7adbbd636647?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
        alt="Indicator Icon"
        class="self-end w-6 aspect-square"
      />
    </div>
  </div>
  <div
    class="flex relative flex-col items-center px-16 pt-8 pb-3 mt-7 text-sm leading-6 aspect-[4.24] text-neutral-400 w-[403px] max-md:px-5"
  >
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/1117116002d0517a7b04bee5a99a055db1f4c725cb45ecb12f7fbfb145c33c02?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
      alt="Graph showing event statistics"
      class="object-cover absolute inset-0 size-full"
    />
    <div class="flex relative flex-col w-[87px]">
      <div class="shrink-0 bg-red-400 rounded-full h-[13px] w-[13px]"></div>
      <div class="mt-1.5">
        <time class="text-gray-200">SOS Raised 12:23:43 pm</time>
      </div>
    </div>
  </div>
</section>
