<section class="p-4 bg-zinc-800 rounded-xl">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <section class="flex flex-col w-[78%] max-md:ml-0 max-md:w-full">
      <article class="flex flex-col grow max-md:mt-10">
        <header class="flex gap-1.5 px-px text-lg leading-5 text-white">
          <h2>Devices Status Distribution</h2>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/926d020f80043ec9187a6640026f180a9e0ac7d4ece8dc0b6a08bb5bdbbd16d9?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
            alt="Devices Status Icon"
            class="shrink-0 w-6 aspect-square"
          />
        </header>
        <div class="flex gap-5 px-0.5 mt-6 text-center whitespace-nowrap">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/02999b4bdeac6f1a6fb89bdd3ab5e1cd8d7f617b74f840eaab30761dbb4374d9?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
            alt="Devices Image"
            class="shrink-0 my-auto aspect-square w-[52px]"
          />
          <div class="flex flex-col flex-1">
            <div
              class="shrink-0 self-center bg-blue-400 rounded-full h-[13px] w-[13px]"
            ></div>
            <p
              class="justify-center px-2 py-2 mt-1.5 text-2xl tracking-tight text-zinc-300"
            >
              724
            </p>
            <p class="mt-1 text-xs tracking-normal leading-4 text-gray-400">
              Assigned
            </p>
          </div>
          <div class="flex flex-col flex-1">
            <div
              class="shrink-0 self-center bg-green-400 rounded-full h-[13px] w-[13px]"
            ></div>
            <p
              class="justify-center px-2.5 py-2 mt-1.5 text-2xl tracking-tight text-zinc-300"
            >
              120
            </p>
            <p class="mt-1 text-xs tracking-normal leading-4 text-gray-400">
              Idle
            </p>
          </div>
          <div class="flex flex-col flex-1">
            <div
              class="shrink-0 self-center bg-yellow-600 rounded-full h-[13px] w-[13px]"
            ></div>
            <p
              class="justify-center px-2.5 py-2 mt-1.5 text-2xl tracking-tight text-zinc-300"
            >
              80
            </p>
            <p class="mt-1 text-xs tracking-normal leading-4 text-gray-400">
              Others
            </p>
          </div>
        </div>
      </article>
    </section>
    <section class="flex flex-col ml-5 max-md:ml-0 max-md:w-full">
      <article class="flex flex-col grow max-md:mt-10">
        <div class="flex flex-col items-start max-md:pr-5">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/19552903dd9456d374f25a7b25e71baa96f868b6d8d44b143b5b7adbbd636647?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
            alt="Other Status Icon"
            class="ml-5 w-6 aspect-square max-md:ml-2.5"
          />
        </div>
      </article>
    </section>
  </div>
</section>
