<section
  class="flex flex-col px-7 pt-2 pb-5 w-full bg-zinc-800 max-md:pl-5 rounded-xl"
>
  <header class="flex gap-5">
    <div
      class="flex flex-1 gap-4 text-3xl font-medium whitespace-nowrap text-stone-300"
    >
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/0596604b730c4f450001fa6100fe59c2bca6440e9bbc6544a3a64f3d1e38dcb8?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
        alt="Weather icon"
        class="shrink-0 aspect-square w-[88px]"
      />
      <div class="my-auto">32°C</div>
    </div>
    <nav class="flex flex-1 gap-1.5 self-start mt-2">
      <div class="flex flex-col">
        <div
          class="flex gap-5 justify-between text-xl text-zinc-300 text-opacity-80"
        >
          <time>2 PM</time>
          <time>3 PM</time>
        </div>
        <div class="flex gap-5 justify-between px-px">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/3ee727e6ba0c95a6cb108550a1c2e614947de5eee12557d421073de9ddec2edb?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
            alt="Icon"
            class="shrink-0 aspect-square w-[57px]"
          />
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/3ee727e6ba0c95a6cb108550a1c2e614947de5eee12557d421073de9ddec2edb?apiKey=1c18aed1385c4ecbbac7a43e90bc0e48&"
            alt="Icon"
            class="shrink-0 aspect-square w-[57px]"
          />
        </div>
        <div
          class="flex justify-between mt-1 text-lg font-medium text-white whitespace-nowrap"
        >
          <time datetime="2022-05-16">30</time>
          <time datetime="2022-05-17">28</time>
        </div>
      </div>
    </nav>
  </header>
  <main class="flex gap-5">
    <div class="flex-auto text-2xl text-stone-300">Amman, Jordan</div>
    <div
      class="flex gap-5 justify-between self-start mt-1 text-lg font-medium text-white whitespace-nowrap"
    ></div>
  </main>
</section>
